@page
@model Projekt_Esti_Frederik.Pages.Exams.CreateExamModel
@{
    ViewData["Title"] = "Create Exam";
}

<h1>Create Exam</h1>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group mb-4">
                <label asp-for="@Model.exam.ExamName" class="control-label"></label>
                <input asp-for="@Model.exam.ExamName" class="form-control" />
                <span asp-validation-for="@Model.exam.ExamName" class="text-danger"></span>
            </div>

            <div class="form-group mb-4">
                <label asp-for="@Model.exam.TypeOfExam" class="control-label"></label>
                <input asp-for="@Model.exam.TypeOfExam" class="form-control" placeholder="E for External, I for Internal" />
                <span asp-validation-for="@Model.exam.TypeOfExam" class="text-danger"></span>
            </div>

            <div class="form-group mb-4">
                <label asp-for="@Model.exam.Supervision" class="control-label"></label>
                <div>
                    <div class="form-check form-check-inline">
                        <input type="radio" id="supervisionYes" name="exam.Supervision" value="true" class="form-check-input" />
                        <label for="supervisionYes" class="form-check-label">Yes</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input type="radio" id="supervisionNo" name="exam.Supervision" value="false" class="form-check-input" />
                        <label for="supervisionNo" class="form-check-label">No</label>
                    </div>
                </div>
                <span asp-validation-for="@Model.exam.Supervision" class="text-danger"></span>
            </div>

            <div class="form-group mb-4">
                <label asp-for="@Model.exam.TypeOfSupervisor" class="control-label"></label>
                <input asp-for="@Model.exam.TypeOfSupervisor" class="form-control" />
                <span asp-validation-for="@Model.exam.TypeOfSupervisor" class="text-danger"></span>
            </div>

            <div class="form-group mb-4">
                <label asp-for="@Model.exam.Class" class="control-label"></label>

                <select asp-for="@Model.exam.ClassId"
                        class="form-control"
                        asp-items="@Model.classOptions">
                    <option value="">-- Select a Class --</option>
                </select>

                <span asp-validation-for="@Model.exam.Class" class="text-danger"></span>
            </div>


            <div class="form-group mb-4">
                <label asp-for="@Model.exam.EstimatedNumberStudents" class="control-label"></label>
                <input asp-for="@Model.exam.EstimatedNumberStudents" class="form-control" />
                <span asp-validation-for="@Model.exam.EstimatedNumberStudents" class="text-danger"></span>
            </div>

            <div class="form-group mb-4">
                <label asp-for="@Model.exam.ExamSubmissionDate" class="control-label"></label>
                <input type="date" asp-for="@Model.exam.ExamSubmissionDate" class="form-control" />
                <span asp-validation-for="@Model.exam.ExamSubmissionDate" class="text-danger"></span>
            </div>

            <div class="form-group mb-4">
                <label asp-for="@Model.exam.ExamDate" class="control-label"></label>
                <input type="date" asp-for="@Model.exam.ExamDate" class="form-control" />
                <span asp-validation-for="@Model.exam.ExamDate" class="text-danger"></span>
            </div>

            <div class="form-group mb-4">
                <label asp-for="@Model.exam.ExamStartTime" class="control-label"></label>
                <input asp-for="@Model.exam.ExamStartTime" class="form-control" />
                <span asp-validation-for="@Model.exam.ExamStartTime" class="text-danger"></span>
            </div>

            <div class="form-group mb-4">
                <label asp-for="@Model.exam.ExamEndTime" class="control-label"></label>
                <input asp-for="@Model.exam.ExamEndTime" class="form-control" />
                <span asp-validation-for="@Model.exam.ExamEndTime" class="text-danger"></span>
            </div>

            <div class="form-group mb-4">
                <label asp-for="@Model.exam.ReExamSubmissionDate" class="control-label"></label>
                <input asp-for="@Model.exam.ReExamSubmissionDate" class="form-control" />
                <span asp-validation-for="@Model.exam.ReExamSubmissionDate" class="text-danger"></span>
            </div>

            <div class="form-group mb-4">
                <label asp-for="@Model.exam.ReExamDate" class="control-label"></label>
                <input asp-for="@Model.exam.ReExamDate" class="form-control" />
                <span asp-validation-for="@Model.exam.ReExamDate" class="text-danger"></span>
            </div>

            <div class="form-group mb-4">
                <label asp-for="@Model.exam.ReExamStartTime" class="control-label"></label>
                <input asp-for="@Model.exam.ReExamStartTime" class="form-control" />
                <span asp-validation-for="@Model.exam.ReExamStartTime" class="text-danger"></span>
            </div>

            <div class="form-group mb-4">
                <label asp-for="@Model.exam.ReExamEndTime" class="control-label"></label>
                <input asp-for="@Model.exam.ReExamEndTime" class="form-control" />
                <span asp-validation-for="@Model.exam.ReExamEndTime" class="text-danger"></span>
            </div>

            <div class="form-group mb-4">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
