@page 
@model Projekt_Esti_Frederik.Pages.Exams.ExamModel 
@{ 
    ViewData["Title"] = "Exam Page";
}

<h2>Exam Page</h2>

<table class="table"> 
    <thead>
        <tr>
            <th>Exam id</th>
            <th>Activity</th>
            <th>Exam</th>
            <th>Supervision</th>
            <th>Supervisor</th>
            <th>Estimat number of students</th>
            <th>Exam submission</th>
            <th>Exam</th>
            <th>Re-exam submission</th>
            <th>Re-exam</th>
        </tr>
    </thead>

    <tbody>

        @if (Model != null)
        {
            @foreach (var item in Model.exams)
            {
                <tr>
                    <td> @item.ExamId</td>
                    <td> @item.ExamName</td>
                    <td> @item.TypeOfExam</td>
                    <td> @item.Supervision</td>
                    <td> @item.TypeOfSupervisor</td>
                    <td> @item.EstimatedNumberStudents</td>
                    <td> @item.ExamSubmissionDate</td>
                    <td> @item.ExamDate</td>
                    <td> @item.ReExamSubmissionDate</td>
                    <td> @item.ReExamDate</td>
                </tr>
            }
        }
    </tbody>
</table>
