@page
@model Projekt_Esti_Frederik.Pages.Teachers.TeatcherModel
@{
}

<h2>Teacher Page</h2>

<table class="table">
    <thead>
        <tr>
            <th>Teacher id</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Initials</th>
            <th>Email</th>
        </tr>
    </thead>

    <tbody>

        @if (Model != null)
        {
            @foreach (var item in Model.teacherService)
            {
                <tr>
                    <td> @item.TeacherId</td>
                    <td> @item.FirstName</td>
                    <td> @item.LastName</td>
                    <td> @item.Initials</td>
                    <td> @item.Email</td>
                    <td>
                        <p>
                            <a asp-page="/Exams/Exams" asp-route-teacherid="@item.TeacherId">Show exams</a>
                        </p>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>